.search {
  &-input {
    margin: 120px 0 30px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #141414;
  }
  &-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 22px;
  }
}